<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn-tailwindcss.vercel.app/"></script>
  {% load static %}
  <title>Document</title>
</head>
<body>
<nav class="flex justify-around py-4 bg-white/80
  backdrop-blur-md shadow-md w-full
  fixed top-0 left-0 right-0 z-10">

  <!-- Logo Container -->
  <div class="flex items-center">
      <!-- Logo -->
  
      <a class="cursor-pointer">
          <h3 class="text-2xl font-medium text-blue-500">
                  <img style="width: 50px; height: 50px;" src="{% static '/media/item_images/cooking.png' %}" alt="My image">
          </h3>
      </a>
  </div>

  <!-- Links Section -->
  <div class="items-center hidden space-x-8 lg:flex">
      <a href="/" class="flex text-gray-600 hover:text-blue-500
          cursor-pointer transition-colors duration-300">
          Home
      </a>

      <a href="{% url 'item:items' %}" class="flex text-gray-600 hover:text-blue-500
          cursor-pointer transition-colors duration-300">
          Search
      </a>

      <a href="{% url 'main:aboutus' %}" class="flex text-gray-600 hover:text-blue-500
          cursor-pointer transition-colors duration-300">
          About Us
      </a>

      <a href="{% url 'main:contact' %}" class="flex text-gray-600 hover:text-blue-500
          cursor-pointer transition-colors duration-300">
          Contact Us
      </a>
  </div>

  <!-- Icon Menu Section -->
  <div class="flex items-center space-x-5">
      <!-- Register -->
      
      {% if request.user.is_authenticated %}
      <a href="{% url 'dashboard:index' %}" class="flex text-gray-600 hover:text-blue-500
      cursor-pointer transition-colors duration-300">
      <img src="{% static '/media/item_images/recipe.png' %}" style="width:20px; height: 20px; padding-right: 2px;" alt="">

          My Recipe
      </a>
      <a href="{% url 'item:new' %}" class="flex text-gray-600 hover:text-blue-500
      cursor-pointer transition-colors duration-300">
      <img src="{% static '/media/item_images/batter.png' %}" style="width:20px; height: 20px; padding-right: 2px;" alt="">

          Add Recipes
      </a>
      <a href="{% url 'main:profile' %}" class="flex text-gray-600 hover:text-blue-500
      cursor-pointer transition-colors duration-300">
      
      <img style="width: 50px; height: 50px;" src="{% static '/media/item_images/profilepic.png' %}" alt="My image">
      <!-- <img src="/static/media/item_images/profilepic.png" style="width:50px; height: 50px; padding-right: 2px;" alt="">      -->
      </a>
      {% else %}
      <a href="{% url 'main:signup' %}" class="flex text-gray-600 hover:text-blue-500
          cursor-pointer transition-colors duration-300">

          <svg class="fill-current h-5 w-5 mr-2 mt-0.5" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24"
              viewBox="0 0 24 24">
              <path
                  d="M12 0L11.34 .03L15.15 3.84L16.5 2.5C19.75 4.07 22.09 7.24 22.45 11H23.95C23.44 4.84 18.29 0 12 0M12 4C10.07 4 8.5 5.57 8.5 7.5C8.5 9.43 10.07 11 12 11C13.93 11 15.5 9.43 15.5 7.5C15.5 5.57 13.93 4 12 4M12 6C12.83 6 13.5 6.67 13.5 7.5C13.5 8.33 12.83 9 12 9C11.17 9 10.5 8.33 10.5 7.5C10.5 6.67 11.17 6 12 6M.05 13C.56 19.16 5.71 24 12 24L12.66 23.97L8.85 20.16L7.5 21.5C4.25 19.94 1.91 16.76 1.55 13H.05M12 13C8.13 13 5 14.57 5 16.5V18H19V16.5C19 14.57 15.87 13 12 13M12 15C14.11 15 15.61 15.53 16.39 16H7.61C8.39 15.53 9.89 15 12 15Z" />
          </svg>
              Signup
      </a>

      <!-- Login -->
      <a href="{% url 'main:login' %}" class="flex text-gray-600 hover:text-blue-500
      cursor-pointer transition-colors duration-300">

          <svg class="fill-current h-5 w-5 mr-2 mt-0.5" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24"
              viewBox="0 0 24 24">
              <path
                  d="M10,17V14H3V10H10V7L15,12L10,17M10,2H19A2,2 0 0,1 21,4V20A2,2 0 0,1 19,22H10A2,2 0 0,1 8,20V18H10V20H19V4H10V6H8V4A2,2 0 0,1 10,2Z" />
          </svg>

          Login
      </a>
      
      {% endif %}
  </div>
</nav>

  <div class="flex max-h-screen mt-10">
    <div class="w-1/3 min-h-screen overflow-y-auto"><br><br>
      <div class="flex space-x-2 bg-slate-50 px-3 py-2">
        <h2 class="text-3xl text-semibold">Related Foods</h2>
      </div>
      {% for item in related_items %}
      <div class="flex space-x-2 px-3 py-2 border-2
      shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
        <a href="{% url 'item:detail' item.id %}">
            <img class="w-32 rounded-md" src="{{ item.image.url }}" alt="" />
            <span class="text-xl text-semibold ">Name: {{ item.name }}</span>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="w-1/3 min-h-screen bg-slate-50 px-4 py-5 space-y-3"><br>
      <img class="border-2 " src="{{ item.image.url }}" alt="">
      {% if request.user == item.created_by %}
        <a href="{% url 'item:edit' item.id %}"
                  data-variant="flat"
                  class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent placeholder-white focus-visible:outline-none focus:outline-none  bg-green-600 text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-green-900 hover:shadow-cart h-12 lg:h-14 mt-1 text-sm lg:text-base w-full sm:w-auto"
                  type="submit"
                >
                  Edit
        </a>
        <a href="{% url 'item:delete' item.id %}"
                  data-variant="flat"
                  class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent placeholder-white focus-visible:outline-none focus:outline-none  bg-red-600 text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-red-900 hover:shadow-cart h-12 lg:h-14 mt-1 text-sm lg:text-base w-full sm:w-auto"
                  type="submit"
                >
                  Delete
        </a>
        {% endif %}
    </div>  
    <div class="w-1/3  bg-slate-50 px-4 py-5 space-y-3"><br>
      <div class="space-y-2">
        <h1 class="text-2xl text-semibold">Food Name: {{ item.name }} </h1>
        <h2>Created on: {{ item.created_at }}</h2>
        <h2>Uploaded By: {{ item.created_by }}</h2>
        {% if item.description %}
        <div class="flex flex-col space-y-1 ">
            <h1 class="text-2xl text-semibold">Description: <br> <span class="text-lg">{{ item.description }}</span> </h1>
        </div>
        {% endif %}
        {% if item.ingredient %}
        <div class="flex flex-col space-y-1">
            <h1 class="text-2xl text-semibold">Ingredients: <br> <span class="text-lg">{{ item.ingredient }}</span> </h1>
        </div>
        {% endif %}
        {% if item.process %}
        <div class="flex flex-col space-y-1">
            <h1 class="text-2xl text-semibold">How to make it: <br> <span class="text-lg">{{ item.process }}</span> </h1>
        </div>
        {% endif %}
        
      </div>
    </div>
  </div>
  <footer class="bg-blue-100/80 font-sans dark:bg-gray-900 mt-2">
    <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
            <div class="sm:col-span-2">
                <h1 class="max-w-lg text-xl font-semibold tracking-tight text-gray-800 xl:text-2xl dark:text-white">Subscribe our newsletter to get an update.</h1>

                <div class="flex flex-col mx-auto mt-6 space-y-3 md:space-y-0 md:flex-row">
                    <input id="email" type="text" class="px-4 py-2 text-gray-700 bg-white border rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-300" placeholder="Email Address" />
            
                    <button class="w-full px-6 py-2.5 text-sm font-medium tracking-wider text-white transition-colors duration-300 transform md:w-auto md:mx-4 focus:outline-none bg-gray-800 rounded-lg hover:bg-gray-700 focus:ring focus:ring-gray-300 focus:ring-opacity-80">
                        Subscribe
                    </button>
                </div>
            </div>

            <div>
                <p class="font-semibold text-gray-800 dark:text-white">Menu</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <a href="{% url 'main:contact' %}" class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:cursor-pointer hover:text-blue-500">Contact Us</a>
                    <p class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:cursor-pointer hover:text-blue-500">Privacy and Policy</p>
                    <p class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:cursor-pointer hover:text-blue-500">Terms of use</p>
                </div>
            </div>

            <div>
                <p class="font-semibold text-gray-800 dark:text-white">Partners</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <p class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:cursor-pointer hover:text-blue-500">Binit Foods</p>
                    <p class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:cursor-pointer hover:text-blue-500">Satish Foods</p>
                    <p class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:cursor-pointer hover:text-blue-500">Rojan Foods</p>
                </div>
            </div>
        </div>
        
        <hr class="my-6 border-gray-200 md:my-8 dark:border-gray-700 h-2" />
        
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex flex-1 gap-4 hover:cursor-pointer">

            </div>
            
            <div class="flex gap-4 hover:cursor-pointer">
                <img src="https://www.svgrepo.com/show/303114/facebook-3-logo.svg" width="30" height="30" alt="fb" />
                <img src="https://www.svgrepo.com/show/303115/twitter-3-logo.svg" width="30" height="30" alt="tw" />
                <img src="https://www.svgrepo.com/show/303145/instagram-2-1-logo.svg" width="30" height="30" alt="inst" />
                <img src="https://www.svgrepo.com/show/94698/github.svg" class="" width="30" height="30" alt="gt" />
                <img src="https://www.svgrepo.com/show/22037/path.svg" width="30" height="30" alt="pn" />
                <img src="https://www.svgrepo.com/show/28145/linkedin.svg" width="30" height="30" alt="in" />
            </div>
        </div>
        <p class="font-sans p-8 text-start md:text-center md:text-lg md:p-4">© 2023 You Company Inc. All rights reserved.</p>
    </div>
</footer>
</body>
</html>